.header {
    background-image: url('../images/post-image.jpg');
    background-position: center;
    background-size: cover;
    color: $white;
    display: table;
    font-family: $sf;
    font-size: $x-large;
    font-style: $sf-italic;
    font-weight: $sf-black;
    height: 600px;
    text-align: center;
    align-content: center;
  
    &__texto {
      display: table-cell;
      vertical-align: middle;
    }

    &__icono {
      color: white;
      display: table;
      align-items: center;
      padding-left: 50%;
    }
  }